li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  overflow-y: scroll;

  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  & .modal-container {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);

  padding: 20px 20px;
  background: #777777;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 319px) {
    transform: translate(0, 0) scale(1);
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    padding-top: 40px;
  }

  @media screen and (min-width: 320px) and (max-width: 420px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 480px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 650px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: 1200px) {
    width: 1000px;
    padding: 40px 80px;
  }

  &-close {
    color: #ff6b08;
    font-size: 20px;
    font-weight: bold;
    font-family: Times, sans-serif;
    border-radius: 50%;
    border: 4px solid #ff6b08;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10px;
    transform: rotate(45deg);
    transition: all 0.6s;
    box-sizing: content-box;
  }
  &-close:hover {
    color: #ff6b08;
    transform: rotate(135deg);
  }

  &-title {
    margin: 0;
    margin-bottom: 20px;

    // font-family: Titan One;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #212121;

    &--team {
      text-decoration: underline;
      color: #ff6b08;
    }

    @media screen and (max-width: 468) {
      margin-bottom: 15px;
    }

    @media screen and (min-width: 768) {
      font-size: 22px;
    }

    @media screen and (min-width: 1200) {
      font-size: 26px;
    }
  }
}

.modal-team-list {
  display: flex;
  justify-content: space-between;
}

.photo-card {
  position: relative;
  width: 190px;
  height: 295px;
  background-color: #ff6b08;
  padding: 7px;
  border-radius: 15px;

  &-img {
    border-radius: 15px;
    margin-bottom: 10px;
  }

  &-name,
  &-role {
    text-align: center;
    color: #212121;
  }

  &-name {
    font-weight: 800;
    margin-bottom: 5px;
  }

  &-role {
    font-weight: 600;
  }
}

.modal-team-pagination {
  display: flex;
  justify-content: center;
  padding: 0;

  & li {
    width: 30px;
    height: 30px;
    line-height: 25px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    transition: all 0.3s;
  }

  & li:hover,
  & li.active {
    cursor: pointer;
    color: #ff6b08;
    border: 1px solid #ff6b08;
  }
}

/* АНІМАШКА ДЛЯ ГОЛОВНОГО ФОТО */
.frame {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 180px;
  height: 275px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: #333;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slices {
  position: absolute;
  width: 200px;
  height: 100%;
  background: center center no-repeat;
  background-size: 200px 100%;
  cursor: pointer;
}

.slices:hover .slice {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.slices .slice {
  position: relative;
  z-index: 2;
  float: left;
  box-sizing: border-box;
  width: 25px;
  height: 100%;
  background: center center no-repeat;
  background-size: 200px 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.slices .slice-1 {
  background-position: 0px 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
}
.slices .slice-2 {
  background-position: -25px 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
}
.slices .slice-3 {
  background-position: -50px 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
}
.slices .slice-4 {
  background-position: -75px 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
}
.slices .slice-5 {
  background-position: -100px 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
}
.slices .slice-6 {
  background-position: -125px 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
}
.slices .slice-7 {
  background-position: -150px 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
}
.slices .slice-8 {
  background-position: -175px 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
}
.slices .slice-2 {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
.slices .slice-4 {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
.slices .slice-6 {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
.slices .slice-8 {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
